@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #E2001A;
  --color-lighttext: #71717B;

}


body {
  font-family: "Jost", sans-serif;

}

.navbarhover {
  @apply relative w-fit block;

  &::after {
    @apply block z-[1] absolute h-[2px] bg-white w-full;
    content: "";
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
  }
}